﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Job.aspx.cs" Inherits="WebClient.Job" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Job</title>
    <link rel ="stylesheet" type ="text/css" href="design/job.cs" />
</head>
<body>
    <form id="job" runat="server">
    <div>
        <header>
            <a href ="index.aspx" class="logo">
    <span>Booking</span>
           System
        </a>
            </header>

    </div>
    </form>
</body>
</html>
