﻿body {
    background-color: #f1f2f7;
    font-family: 'Open Sans',sans-serif;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

div.login{
    height: 26px;
    width: 86px;
    margin-top: 15px;
    margin-right: 15px;
    float: right;
}

.astext {
    background: none;
    border: none;
    color: #fff;
    font-size: 19px;
    cursor:pointer;
    float:right;
}

a.logo span{
    color: #0c7051;
}

a.logo{
    font-size: 21px;
    color: #fff;
    float: left;
    margin-top: 15px;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 15px;
}

header{
  
    width: 100%;
    height: 55px;
    background-color:#2a3542;
    
}
nav{
    width: 550px;
    height: auto;
    margin: 0 auto;
    padding-top: 20px;
}
.bookapp{
    float:left;
    padding-right: 50px;
    
}
.myapp{
    float:right;
}

.UserProfile{
    padding-top: 50px;
    float:left;
}

.cmg{
    float:right;
    padding-top: 50px;
}


@import url(http://fonts.googleapis.com/css?family=Open+Sans);
