﻿body {
    background-color: #f1f2f7;
    font-family: 'Open Sans',sans-serif;

}

a.logo span{
    color: #0c7051;
}

a.logo{
    font-size: 21px;
    color: #fff;
    float: left;
    margin-top: 15px;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 15px;
}

header{
  
    width: 100%;
    height: 55px;
    background-color:#2a3542;
}

div.Register{
    height: 26px;
    width: 86px;
    margin-top: 15px;
    margin-right: 15px;
    float: right;
}

.astext {
    background: none;
    border: none;
    color: #fff;
    font-size: 19px;
    cursor:pointer;
    float:right;
}

#wrapper{
    background-color: #fff;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: auto;
    
}
.LoginForm{
    text-align:center;
}

span{
    
}
.signin{
    font-size: 30px;
    text-align: center;
    color: #0c7051;
}

div.loginfields{
    padding-top: 15px;
}

div.signin{
    padding-top: 20px;
}

p{
    font-size: 13px;
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans);