﻿body {
    background-color: #f1f2f7;
    font-family: 'Open Sans',sans-serif;

}

a.logo span{
    color: #0c7051;
}

a.logo{
    font-size: 21px;
    color: #fff;
    float: left;
    margin-top: 15px;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 15px;
}

header{
  
    width: 100%;
    height: 55px;
    background-color:#2a3542;
}

#wrapper{
    background-color: #fff;
    margin: 0 auto;
    width: 720px;
    height: auto;
    
}
div.registrationForm{
    padding-left: 10%;
}

div.submit{
    text-align: center;
    padding-bottom: 20px;
}

h2{
    text-align: center;
}
h3{
   text-align: left;
   padding: 30px;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

