﻿body {
    background-color: #f1f2f7;
    font-family: 'Open Sans',sans-serif;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

a.logo span{
    color: #0c7051;
}

div.logout{
    height: 26px;
    width: 86px;
    margin-top: 15px;
    margin-right: 15px;
    float: right;
}

.astext {
    background: none;
    border: none;
    color: #fff;
    font-size: 19px;
    cursor:pointer;
}

a.logo{
    font-size: 21px;
    color: #fff;
    float: left;
    margin-top: 15px;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 15px;
}

header{
  
    width: 100%;
    height: 55px;
    background-color:#2a3542;
}

#wrapper{
    background-color: #fff;
    margin: 0 auto;
    width: 720px;
    height: auto;
    
}
nav {
    margin-left: 0;
    height: 100%;
    width: 55px;
    background-color: #2a3542;
    position: fixed;
}

div.MyAppointments{
    background-color: #dde1e2;
    margin-left: 65px;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans);